<app-navbar [menuItems]="mi"></app-navbar>


<div fxLayout="column"
     style="margin-top: 1rem;">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="80">

      <mat-card>
        <mat-card-title>Intern in IS Department</mat-card-title>
        <mat-card-header>
          <p>Graduate Assistantship</p> <br>
        </mat-card-header>
        <br>
        <mat-card-header>
          Author: IITU
        </mat-card-header>

        <br>
        <br>

        <mat-card-content style="text-align: start">
          Work experience: Not required <br><br>
          Requirements: Knowledge of Microsoft Office, Basics in programming, Being good at programming.<br><br>
          Conditions: Feedback from IS Department, Further employment<br><br>
          Skills: OOP, Management, Analytics, Monitoring<br><br>
          Address: Manasa 34a<br><br>
          Contacts:<br><br>
          Link:<br><br>
        </mat-card-content>

        <mat-card-footer style="text-align: end">
          Published date: 03.05.2019
        </mat-card-footer>

      </mat-card>

      <mat-card style="margin-top: 1rem;">
        <mat-card-title>Assistant in Project Management Institute</mat-card-title>
        <mat-card-header>
          <p>Graduate Assistantship</p> <br>
        </mat-card-header>
        <br>
        <mat-card-header>
          Author: Satbayev University
        </mat-card-header>

        <br>
        <br>

        <mat-card-content style="text-align: start">
          Work experience: not less than 1 year <br><br>
          Requirements: Organization of meet-ups <br><br>
          Conditions: Further employment as a manager <br><br>
          Skills: Creativity, Responsibility<br><br>
          Address: 22a Satpaev str.<br><br>
          Contacts:<br><br>
          Link:<br><br>
        </mat-card-content>

        <mat-card-footer style="text-align: end">
          Published date: 03.05.2019
        </mat-card-footer>

      </mat-card>

    </div>
  </div>

</div>
