<form fxLayout="column">
  <mat-form-field>
    <mat-select (selectionChange)="changeCurrentUserType($event.value)" placeholder="You are">
      <mat-option
        *ngFor="let user of userTypes"
        [value]="user.type">
        {{user.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="!!currentUserType" fxLayout="column">


    <mat-form-field>
      <input matInput
             required
             placeholder="Username"
             name="Username"
             [(ngModel)]="currentUsername">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             required
             placeholder="First name"
             name="First name"
             [(ngModel)]="currentFirstName">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             required
             placeholder="Last name"
             name="Last name"
             [(ngModel)]="currentLastName">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             required
             placeholder="E-mail"
             name="E-mail"
             [(ngModel)]="currentEmail">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Phone number"
             name="Phone number"
             [(ngModel)]="currentPhone">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="University" required [(value)]="currentUniversity">
        <mat-option
          *ngFor="let university of universities"
          [value]="university.key">
          {{university.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Title" [(value)]="currentTitle" required>
        <mat-option
          *ngFor="let title of titles"
          [value]="title.key">
          {{title.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Faculty" [(value)]="currentFaculty" required>
        <mat-option
          *ngFor="let faculty of faculties"
          [value]="faculty.key">
          {{faculty.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <button mat-raised-button
          color="primary"
          fxFlexAlign="center"
          [disabled]="!(
          currentUsername
          && currentEmail
          && currentFirstName
          && currentLastName
          && currentUniversity
          && currentTitle
          )"
          (click)="saveUser()"
  >Sign up
  </button>
</form>
