<mat-card fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="70" fxLayout="column" fxLayoutAlign="start start">
    <mat-card-title>{{myProject.title}}</mat-card-title>
    <mat-card-content>{{myProject.description}}</mat-card-content>
    <mat-card-subtitle>{{myProject.publishedDate | date}}</mat-card-subtitle>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button
      mat-button
      (click)="markProject(myProject.isLiked)"
      [disabled]="myProject.isButtonsDisabled"
    >{{myProject.isLiked ? 'Remove from list' : 'To List'}}
    </button>
    <button
      mat-button
      (click)="toRespondButtonEmitter.emit(myProject.id)"
      [disabled]="myProject.isResponded"
    >To Respond
    </button>
  </div>
</mat-card>
