<app-navbar [menuItems]="menuItems"></app-navbar>

<div class="main_page_university mat-typography" fxLayout="row">
  <div fxFlex="50" fxLayout="row wrap">
    <div class="mat-typography" fxFlex="100">
      <h1>Assign to the research project! Find top professors</h1>
    </div>
    <div fxFlex="50"><h2>Some info</h2></div>
    <div fxFlex="50"><h2>Another info</h2></div>
  </div>
  <div fxFlex="25"><h2>Some statistics</h2></div>
  <mat-card fxFlex="25"
            fxLayout="column"
            fxLayoutAlign="start"
            style="height: 200px">
    <app-login fxFlex="30" class="login-mini"></app-login>
  </mat-card>
</div>
