.main_page_university {
  height: 700px;
  background: url("/assets/img/background_sky.jpg") no-repeat center;
  background-size: cover;

  .has_border {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.login-mini {
  background-color: rgba(255, 255, 255, 0.7)
}
