<app-navbar [menuItems]="menuItems"></app-navbar>

<div class="mat-typography" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" style="margin-top: 10px;">
  <mat-card fxFlex="70" style="margin-top: 10px;" fxLayout="column" fxLayoutAlign="start start">

    <div fxFill fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-around">
      <img fxFlex="10" src="/assets/img/user_profile.png" alt="" height="100px" width="100px">
      <!--<h1>{{studentInfo.fio}}</h1>-->

      <div fxFlex="70" fxLayout="column">
        <mat-form-field>
          <input matInput
                 #fio
                 placeholder="Name"
                 name="fio"
                 (dblclick)="fio.readOnly = false; fio.focus()"
                 (blur)="fio.readOnly = true; save()"
                 [(ngModel)]="professorInfo.fio"
                 readonly
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Organization"
                 name="title"
                 [value]="professorInfo.university?.title"
                 readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Email"
                 name="email"
                 (dblclick)="email.readOnly = false"
                 (blur)="email.readOnly = true; save()"
                 [(ngModel)]="professorInfo.email"
                 #email
                 readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Phone"
                 name="phone"
                 (dblclick)="phone.readOnly = false"
                 (blur)="phone.readOnly = true; save()"
                 [(ngModel)]="professorInfo.phone"
                 #phone
                 readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Degree"
                 name="title2"
                 [value]="professorInfo.degree || ''"
                 readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Sphere"
                 name="faculty"
                 [value]="professorInfo.sphere || ''"
                 readonly>
        </mat-form-field>
      </div>

    </div>

    <div fxLayout="row">
      <button mat-button routerLink="/favorite-projects">Favorite projects</button>
      <button mat-button routerLink="/accessed-projects">Accessed projects</button>
    </div>

  </mat-card>
</div>
