<app-navbar [menuItems]="menuItems"></app-navbar>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="90" style="margin-top: 10px;" fxLayout="column" fxLayoutAlign="start start ">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{studentInfo.fio}}</mat-card-title>
      <mat-card-subtitle>About me</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      Coding
    </mat-card-content>
    <mat-card-content>
      Cricket
    </mat-card-content>
    <mat-card-content>
      Enjoying
    </mat-card-content>
  </mat-card>
</div>
