<app-navbar [menuItems]="menuItems"></app-navbar>

<div class="mat-typography" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" style="margin-top: 10px;">
  <mat-card fxFlex="70" style="margin-top: 10px;" fxLayout="column" fxLayoutAlign="start start">

    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
      <img fxflex="30" src="/assets/img/user_profile.png" alt="" height="100px" width="100px">
      <h1>{{studentInfo.fio}}</h1>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur corporis culpa dignissimos
      distinctio ea ipsam magnam nemo nostrum omnis optio recusandae rem rerum, sint soluta temporibus, totam vero
      vitae?</p>

    <div fxLayout="row">
      <button mat-button routerLink="/favorite-projects">Favorite projects</button>
      <button mat-button routerLink="/accessed-projects">Accessed projects</button>
    </div>

  </mat-card>
</div>
