<mat-card fxLayout="column" style="background-color: #fafafa">
  <mat-form-field>
    <input matInput placeholder="Last name" [(ngModel)]="lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="First name" [(ngModel)]="firstName">
  </mat-form-field>

  <div fxLayout="row">
    <input matInput [matDatepicker]="picker" placeholder="Date birth" [(ngModel)]="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>
  <button mat-button (click)="find()">
    Find
  </button>
</mat-card>
