<mat-card fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="70" fxLayout="column" fxLayoutAlign="start start">
    <mat-card-content>{{myAssistant.name}}</mat-card-content>
    <mat-card-content>{{myAssistant.photoUrl}}</mat-card-content>
  </div>
  <div fxLayout="column">
    <button
      mat-button
      (click)="sendMailButtonEmitter.emit()"
      [disabled]="myAssistant.isButtonsDisabled"
    >Send Email
    </button>
    <button
      mat-button
      (click)="refusingButtonEmitter.emit()"
      [disabled]="myAssistant.isButtonsDisabled"
    > Refusing
    </button>
  </div>
</mat-card>
