<app-navbar [menuItems]="menuItems"></app-navbar>
<section fxLayout="column"
         fxLayoutAlign="space-around"
         class="my-projects-section" style="margin-top: 10px;">
  <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Project title" (keyup)="find()" [(ngModel)]="findText">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="find()">
      Find
    </button>
  </div>
  <div fxLayout="column" fxLayoutGap="10px">
    <app-all-project-card
      *ngFor="let myProject of myProjects"
      [myProject]="myProject"
      (toListButtonEmitter)="likeProject(myProject.id)"
      (removeFromListButtonEmitter)="dislikeProject(myProject.id)"
    >
    </app-all-project-card>
  </div>
</section>

