<mat-toolbar class="navbar-shadow" color="primary" fxLayout="row">

  <div fxFlex="20%" fxLayoutAlign="center center">
    <p routerLink="/" class="main-diploma-title">Diploma</p>
  </div>
  <div fxFlex fxLayoutAlign="space-between center">
    <button
      mat-button
      *ngFor="let item of menuItems"
      [routerLink]="item.routerLink">
      {{item.label}}
    </button>
  </div>
  <div fxFlex="20%"></div>

  <div *ngIf="loginService.personDisplay" style="cursor: pointer;" routerLink="/user-profile">
    Signed as {{loginService.personDisplay.username}}
  </div>
</mat-toolbar>
