<mat-toolbar class="navbar-shadow" color="primary" fxLayout="row">

  <div fxFlex="20" fxLayoutAlign="start">
    <p routerLink="/" class="main-diploma-title">Diploma</p>
  </div>

  <div fxFlex fxLayoutAlign="space-between center">
    <ng-container *ngFor="let item of menuItems">

      <button
        mat-button
        [routerLink]="item.routerLink"
        [matMenuTriggerFor]="menu">
        {{item.label}}
      </button>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let subItem of item.subMenu"
          [routerLink]="subItem.routerLink"
        >{{subItem.label}}</button>
      </mat-menu>

    </ng-container>
  </div>

  <div fxFlex="20" fxLayoutAlign="end" *ngIf="loginService.personDisplay" style="cursor: pointer;">

    <button
      mat-button
      [matMenuTriggerFor]="profile">
      Signed as {{loginService.personDisplay.username}}
    </button>

    <mat-menu #profile="matMenu">
      <button
        mat-menu-item
        [routerLink]="linkToProfile"
      >Profile
      </button>

      <button
        mat-menu-item
        (click)="logOut()"
      >Log out
      </button>

    </mat-menu>
  </div>

</mat-toolbar>
