<app-navbar [menuItems]="menuItems"></app-navbar>

<div fxLayoutAlign="center center">

  <mat-card
    class="mat-typography"
    fxLayout="row"
    fxLayoutAlign="center start"
    fxFlex="90"
    style="margin-top: 10px; height: 600px">
    <div fxFlex="10"></div>
    <div fxFlex="80"
         fxLayout="row wrap">
      <div fxFlex="20" fxLayout="column" fxLayoutAlign="start center">
        <img src="/assets/img/user_profile.png" alt="" height="100px" width="100px">
      </div>
      <div fxFlex="80">
        <mat-tab-group>
          <mat-tab label="Info">
            <div fxLayout="row" fxLayoutAlign="start">
              <div fxLayout="column" fxFlex="80">
                <mat-form-field>
                  <input matInput
                         placeholder="Name"
                         name="fio"
                         [value]="professorInfo.fio"
                         readonly
                  >
                </mat-form-field>
                <mat-form-field>
                  <input matInput
                         placeholder="Organization"
                         name="title"
                         [value]="professorInfo.university?.title"
                         readonly>
                </mat-form-field>
                <mat-form-field>
                  <input matInput
                         placeholder="Email"
                         name="email"
                         [value]="professorInfo.email"
                         readonly>
                </mat-form-field>
                <mat-form-field>
                  <input matInput
                         placeholder="Phone"
                         name="phone"
                         [value]="professorInfo.phone"
                         readonly>
                </mat-form-field>
                <mat-form-field>
                  <input matInput
                         placeholder="Title"
                         name="title2"
                         [value]="professorInfo.title"
                         readonly>
                </mat-form-field>
                <mat-form-field>
                  <input matInput
                         placeholder="Faculty"
                         name="faculty"
                         [value]="professorInfo.faculty"
                         readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Projects">
            <app-new-project (addButtonEventEmitter)="addProject($event)"></app-new-project>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div fxFlex="10"></div>
  </mat-card>
</div>
