<app-navbar [menuItems]="mi"></app-navbar>


<div style="margin-top: 1rem;" fxLayout="row" fxLayoutAlign="center center">

  <div style="margin-top: 1rem;" fxFlex="80"
       class="mat-typography"
       fxLayout="row wrap"
       fxLayoutGap="1rem"
       fxLayoutAlign="start center">

    <div fxFlex="30">
      <div fxLayout="column">
        <div class="news-image" [ngStyle]="{'background-image': 'url(assets/img/blog1.jpg)'}"></div>

        <br>

        <h3 class="news-title">What Does a Research Assistant Do?</h3>

        <div fxLayout="row" fxLayoutAlign="space-around">
          <h4>Author: Adyrbek Zhansaya</h4>
          <h4>Published date: 17.05.2019</h4>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div fxLayout="column">
        <div class="news-image" [ngStyle]="{'background-image': 'url(assets/img/blog2.jpg)'}"></div>

        <br>

        <h3 class="news-title">Research Assistant</h3>

        <div fxLayout="row" fxLayoutAlign="space-around">
          <h4>Author: Adyrbek Zhansaya</h4>
          <h4>Published date: 17.05.2019</h4>
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div fxLayout="column" style="margin-top: 29px;">
        <div class="news-image" [ngStyle]="{'background-image': 'url(assets/img/blog3.jpg)'}"></div>

        <br>

        <h3 class="news-title">The Ethical Treatment of Research Assistants: Are We Forsaking Safety for Science?</h3>

        <div fxLayout="row" fxLayoutAlign="space-around">
          <h4>Author: Adyrbek Zhansaya</h4>
          <h4>Published date: 17.05.2019</h4>
        </div>
      </div>
    </div>
  </div>

</div>
